<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaveWorkbook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SaveWorkbook.Properties.Settings>
            <setting name="PathGAPS" serializeAs="String">
                <value>\\br3615gaps\gaps\3615 Gaps Download</value>
            </setting>
            <setting name="Path117" serializeAs="String">
                <value>\\br3615gaps\gaps\3615 117 Report</value>
            </setting>
            <setting name="Path473" serializeAs="String">
                <value>\\br3615gaps\gaps\3615 473 Download</value>
            </setting>
            <setting name="RemoveFile" serializeAs="String">
                <value>False</value>
            </setting>
        </SaveWorkbook.Properties.Settings>
    </userSettings>
</configuration>